td {
  text-align: center;
  vertical-align: middle;

}
th {
  text-align: center;
  vertical-align: middle;
}
body {
    text-align:center;
    background-color: rgb(199, 199, 199);
    padding: 2%;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }